@import "main";

.container-fluid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: $light;
}

.item {
  justify-self: center;
  align-self: center;
}
