<div class="hero-banner">
  <div class="hero-img">
    <img src="../../../assets/img/avatar.png" alt="" srcset="" />
  </div>
  <div class="hero-text">
    <h1>FullStack Developer</h1>
  </div>
  <div class="hero-badges">
    <app-hero-badge [icon]="'love-icon'" [badgeText]="'Coding'"></app-hero-badge>
    <app-hero-badge [icon]="'star'" [badgeText]="'Gaming'"></app-hero-badge>
    <app-hero-badge [icon]="'trophy'" [badgeText]="'Learning'" [style.grid-area]="'three'"></app-hero-badge>
  </div>
</div>
