<app-navbar></app-navbar>
<section id="Hero" class="container-fluid hero-section vh-100">
  <app-hero-banner></app-hero-banner>
</section>

<section id="Portfolio" class="container-fluid vh-100">
  <app-projects-container></app-projects-container>
</section>

<section
  id="Jobs"
  class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-main"
>
  <app-jobs-timeline></app-jobs-timeline>
</section>

<section id="About" class="container-fluid vh-100 bg-main">
  <app-container></app-container>
</section>
