<div class="grid-about">
  <div class="grid-header">
    <h1>About Me</h1>
    <span>&lt; I´m a creative Fullstack Developer &frasl; &gt;</span>
  </div>

  <div class="directions">
    <div class="card-header">
      <h3>Details</h3>
    </div>
    <div class="card-body">
      <p><b>Name:</b>I am Homs</p>
      <p><b>Age:</b>20´s</p>
      <p><b>Location:</b>México &lt;3</p>
    </div>
  </div>

  <div class="about-me">
    <div class="card-header">
      <h3>About Me</h3>
    </div>
    <div class="card-body">
      <span> Hi! </span> People call me Homs and I´m a
      <span>FullStack Web Developer</span>. With a great passion for coding and
      learning new things, my goal is to create meaningful and professional web
      applications through carefully crafted code and user-centric design I´ve
      worked with great companys as BBVA México using programming languages like
      Java in the backend and javascript in the frontend.
    </div>
  </div>

  <div class="banner-card">
    <div class="card-image">
      <img src="/assets/img/avatar.png" alt="avatar" srcset="" />
    </div>
    <div class="card-header">Hello, I´m Homs</div>
    <div class="card-body">
      <h5>
        I´m a creative FullStack Web Developer Love Games, Anime, Coding & Music
      </h5>
      <div class="card-icons">
        <i><img src="/assets/icons/pixels-icon/facebook.png" alt="" /></i>
        <i><img src="/assets/icons/pixels-icon/linkedin.png" alt="" /></i>
        <i><img src="/assets/icons/pixels-icon/mail.png" alt="" /></i>
        <i><img src="/assets/icons/pixels-icon/twitter.png" alt="" /></i>
      </div>
    </div>
  </div>
</div>
